## Homeserver custom settings ##

# The public-facing base URL that clients use to access this HS
# (not including _matrix/...). This is the same URL a user would
# enter into the 'custom HS URL' field on their client. If you
# use synapse with a reverse proxy, this should be the URL to reach
# synapse via the proxy.
#
public_baseurl: https://{{ synapse_server_fqdn }}/

# The largest allowed upload size in bytes
#
max_upload_size: {{ synapse_max_upload_size }}

