## SERVER NOTICES ##

server_notices:
   system_mxid_localpart: {{ synapse_sn_user }}
   system_mxid_display_name: {{ synapse_sn_user_display_name }}
   room_name: {{ synapse_sn_room_name }}
   room_topic: {{ synapse_sn_room_topic }}
   auto_join: true