server {
    listen 80;
    listen [::]:80;
    server_name {{ synapse_admin_server_name }};
    return 301 https://$host$request_uri;

    access_log  /var/log/nginx/{{ synapse_admin_server_name }}.access.log;
    error_log  /var/log/nginx/{{ synapse_admin_server_name }}.error.log;
}

server {
    listen 443 ssl;
    listen [::]:443 ssl;
    server_name {{ synapse_admin_server_name }};

    root {{ synapse_admin_installation_path_web }}/synapse-admin-{{ synapse_admin_version }};

    access_log  /var/log/nginx/{{ synapse_admin_server_name }}.access.log;
    error_log  /var/log/nginx/{{ synapse_admin_server_name }}.error.log;

    location / {
        index index.html;
        try_files $uri $uri/ /index.html;
    }

    add_header Strict-Transport-Security "max-age=31536000";
    ssl_certificate /etc/letsencrypt/live/{{ synapse_server_fqdn }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ synapse_server_fqdn }}/privkey.pem;

}