{
    "default_server_config": {
        "m.homeserver": {
            "base_url": "https://{{ synapse_server_fqdn }}",
            "server_name": "{{ element_display_name }}"
        },
        "m.identity_server": {
            "base_url": "https://vector.im"
        }
    },
    "disable_custom_urls": false,
    "disable_guests": false,
    "disable_login_language_selector": false,
    "disable_3pid_login": false,
    "brand": "{{ element_display_name }}",
{% if(element_customatize_ui) %}
    "branding": {
        "welcomeBackgroundUrl": "{{ element_custom_branding.welcomeBackgroundUrl }}",
        "authHeaderLogoUrl": "{{ element_custom_branding.authHeaderLogoUrl }}",
        "authFooterLinks": {{ element_custom_branding.authFooterLinks | to_json }}
    },
{% endif %}
{% if(element_welcome_page_template_src is defined and element_welcome_page_template_src | length > 0) %}
    "embeddedPages": {
        "welcomeUrl": "custom-welcome.html"
    },
{% endif %}
    "integrations_ui_url": "https://scalar.vector.im/",
    "integrations_rest_url": "https://scalar.vector.im/api",
    "integrations_widgets_urls": [
        "https://scalar.vector.im/_matrix/integrations/v1",
        "https://scalar.vector.im/api",
        "https://scalar-staging.vector.im/_matrix/integrations/v1",
        "https://scalar-staging.vector.im/api",
        "https://scalar-staging.riot.im/scalar/api"
    ],
    "integrations_jitsi_widget_url": "https://scalar.vector.im/api/widgets/jitsi.html",
    "bug_report_endpoint_url": "https://riot.im/bugreports/submit",
    "defaultCountryCode": "{{ element_default_country_code }}",
    "showLabsSettings": false,
    "features": {
        "feature_new_spinner": "labs",
        "feature_pinning": "labs",
        "feature_custom_status": "labs",
        "feature_custom_tags": "labs",
        "feature_state_counters": "labs"
    },
    "default_federate": true,
    "default_theme": "{{ element_default_theme }}",
    "roomDirectory": {
        "servers": [
            "matrix.org"
        ]
    },
    "welcomeUserId": "@riot-bot:matrix.org",
    "piwik": {
        "url": "https://piwik.riot.im/",
        "whitelistedHSUrls": ["https://matrix.org"],
        "whitelistedISUrls": ["https://vector.im", "https://matrix.org"],
        "siteId": 1
    },
    "enable_presence_by_hs_url": {
        "https://matrix.org": false,
        "https://matrix-client.matrix.org": false
    },
    "settingDefaults": {
        "breadcrumbs": true
{% if(element_customatize_ui) %}
        , "custom_themes": {{ element_custom_themes | to_nice_json }}
{% endif %}
    },
    "jitsi": {
        "preferredDomain": "{{ element_jitsi_preferred_domain }}"
    }
}